html{
            background-color: lightblue;
        }
        body{
            border: 2px solid;
            background-color: lightyellow;
        }
        code{
            color: black;
            size: 200px;
            font: Consolas;
        }
        h1{
            color: grey;
            size: 400px;
            font: Times New Roman;
        }
        a{
            color: blue;
            size: 200px;
            font: Times New Roman;
        }
        b{
            color: black;
            size: 200px;
            font: Times New Roman;
        }
        nav{
            color: white;
            background-color: darkgrey;
            font: times;
            size: 200px;
        }
        li#nav{
            float: left;
        }
        a#nav{
            
            padding: 8px;
            color: white;
            background-color: darkgreen;
            font-decoration: none;
            border: 3px solid grey;
        }
        ul#nav{
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: black;
        }
