        html{
            background-color: lightblue;
        }
        body{
            border: 2px solid black;;
            background-color: lightyellow;
        }
        code{
            color: black;
            font-size: 12px;
            background-color: lightgrey;
            border: 1px solid black;
            font: monospace;
        }
        h1{
            color: black;
            font-size: 36px;
            font: times;
        }
        h2{
            color: black;
            font-size: 24px;
        }
        h3{
            color: black;
            font-size: 20px;
        }
        a{
            color: black;
            font-size: 12px;
            font: times;
        }
        b{
            color: black;
            font-size: 12px;
            font: times;
            text-decoration: bold;
        }
        p{
            color: black;
            font-size: 12px;
            text-decoration: none;
        }
        nav{
            color: white;
            background-color: darkgrey;
            font: times;
            font-size: 10px;
        }
        section{
            border: 2px solid black;
            background-color: lightyellow;
        }
        li#nav{
            float: left;
        }
        a#nav{
            padding: 8px;
            color: white;
            background-color: darkgreen;
            text-decoration: none;
            border: 3px solid grey;
        }
        ul#nav{
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: black;
        }
        a#articlebar{
            border-right: 2px dashed black;
            text-align: center;
        }
