        html{
            background-color: lightblue;
        }
        body{
            border: 2px solid black;
            background-color: lightyellow;
            padding: 5px;
            font-family: serif;
            font-size: 12px;
        }
        code{
            color: black;
            background-color: lightgrey;
            font-family: monospace;
        }
        h1{
            color: black;
            font-size: 36px;
        }
        h2{
            color: black;
            font-size: 24px;
        }
        h3{
            color: black;
            font-size: 20px;
        }
        h4{
            color:black;
            font-size: 15px;
        }
        a{
            color: black;
            font: serif;
            text-decoration: underline;
        }
        a:hover{
            color: grey;
        }
        a:active{
            color: lightgrey;
        }
        b{
            color: black;
            font-size: 12px;
            font: serif;
            text-decoration: bold;
        }
        p{
            color: black;
            font-size: 12px;
            text-decoration: none;
        }
        nav{
            color: white;
            background-color: darkgrey;
            font: serif;
            font-size: 10px;
        }
        section{
            padding: 4px;
            border: 1px solid black;
        }
        li#nav{
            float: left;
        }
        a#nav{
            padding: 8px;
            color: white;
            background-color: darkgreen;
            text-decoration: none;
            border: 3px solid grey;
        }
        ul#nav{
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: black;
        }
        a#articlebar{
            text-decoration: none;
            text-align: center;
        }
